<div class="card">
  <h3 class="card-header">Contact Info:</h3>
  <form class="card-body new-post-form" id="new-post-form">
    <label for="resume-name" class="form-label">Name</label>
    <input
      type="text"
      id="resume-name"
      name="resume-name"
      class="form-input"
      placeholder="Name"
    />

    <label class="form-label" for="City">City:</label>
    <input id="text" name="City" class="form-input" placeholder="City" />

    <label class="form-label" for="State">State:</label>
    <input id="State" name="State" class="form-input" placeholder="State" />

    <label class="form-label" for="PhoneNumber">Phone Number:</label>
    <input
      id="PhoneNumber"
      name="PhoneNumber"
      class="form-input"
      placeholder="Phone Number"
    />

    <label class="form-label" for="Alt_email">Email:</label>
    <input
      id="Alt_email"
      name="Alt_email"
      class="form-input"
      placeholder="Email"
    />

    <button type="submit" class="btn">SAVE & CONTINUE</button>
  </form>
</div>

{{! <script src="/js/add-post.js"></script> }}