<div class="card">
  <h3 class="card-header">Education</h3>
  <form class="card-body">
    <label
      for="Job-Title
"
      class="form-label"
    >School Name:
    </label>
    <input
      type="text"
      id="School-Name"
      name="School-Name"
      class="form-input"
      placeholder="New York University"
    />

    <label class="form-label" for="City">City:</label>
    <input
      id="text"
      name="City"
      type="text"
      class="form-input"
      placeholder="New York"
    />

    <label class="form-label" for="State">State:</label>
    <input
      id="text"
      name="State"
      type="text"
      class="form-input"
      placeholder="NY"
    />

    <label class="form-label" for="Degree">Degree:</label>
    <input id="Degree" type="text" name="Degree" />

    <label class="form-label" for="Graduationdate">Graduation date:</label>
    <input id="bday-month" type="month" name="bday-month" value="2001-06" />

     </br>

    <label>
      Currently enrolled:
      <select>
        <option value="">---</option>
        <option value="">Yes</option>
        <option value="">No</option>
      </select>
    </label>

    <button type="submit" class="btn">SAVE & CONTINUE</button>
  </form>
</div>

{{! <script src="/js/add-post.js"></script> }}