<section class="section is-medium">
  <div class="tile is-parent is-12">
    <article class="tile is-child box">
      <p class="title">Sign Up Now</p>
      <p class="subtitle">Let's create your professional resume</p>
      <div class="content">
        <div class="field">
  </div>

 <div class="field">
  <label class="label">Username</label>
  <div class="control has-icons-left has-icons-right">
    <input class="input username-input" type="text" placeholder="Enter username" id="username-signup">
    <span class="icon is-small is-left">
      <i class="fas fa-user"></i>
    </span>
  </div>
 </div>

 <div class="field">
  <label class="label">Email</label>
  <div class="control has-icons-left has-icons-right">
    <input class="input email-input" type="email" placeholder="Enter email"  id="email-signup">
    <span class="icon is-small is-left">
      <i class="fas fa-envelope"></i>
    </span>
  </div>
 </div>

 <label class="label">Password</label>
  <div class="control">
    <input class="input password-input" type="password" id="password" placeholder="Password">
   <input type="checkbox" id="show-password">
    <b>Show Password</b>
  </div>

        <button class="button is-primary is-warning">
          <a class="login-link" href="/login">Have an account? Login
            Now!</a>
        </button>

  <div class="field is-grouped">
  <div class="control">
    <button class="button is-success signup-button">Submit</button>
  </div>
  <div class="control">
    <button class="button is-link is-light">Cancel</button>
  </div>
  </div>
      </div>

      </form>
    </div>
  </div>
</section>
<section class="section is-large">

</section>
<script src="/js/signup.js"></script>

