<div class="card">
  <h3 class="card-header">Summary</h3>
  <form class="card-body">
    <label
      for="Summary
"
      class="form-label"
    >Summary:
    </label>
    <input
      type="text"
      id="Summary"
      name="Summary"
      class="form-input"
      placeholder="Sell yourself for the job Include 3-5 sentences Customize your
summary to the job youre applying to"
    />

    <button type="submit" class="btn">SAVE & CONTINUE</button>
  </form>
</div>

{{! <script src="/js/add-post.js"></script> }}