<div class="card">
  <h3 class="card-header">Work Experience</h3>
  <form class="card-body">
    <label
      for="Job-Title
"
      class="form-label"
    >Job Title
    </label>
    <input
      type="text"
      id="Job-Title"
      name="Job-Title"
      class="form-input"
      placeholder="Cashier"
    />

    <label class="form-label" for="Company">Company:</label>
    <input id="text" name="Company" class="form-input" placeholder="Walmart" />

    <label class="form-label" for="City">City:</label>
    <input id="text" name="City" class="form-input" placeholder="New York" />

    <label class="form-label" for="State">State:</label>
    <input id="text" name="State" class="form-input" placeholder="NY" />

    <label class="form-label" for="StartDate">Start Date:</label>
    <input id="bday-month" type="month" name="bday-month" value="2001-06" />

    <label class="form-label" for="EndDate">End Date:</label>
    <input id="bday-month" type="month" name="bday-month" value="2001-06" />

    <button type="submit" class="btn">SAVE & CONTINUE</button>
  </form>
</div>

{{! <script src="/js/add-post.js"></script> }}