* {
  box-sizing: border-box;
}

.container {
  background-image: linear-gradient(
    rgb(197, 199, 208) 0%,
    rgb(109, 109, 116) 100%
  );
  border-radius: 0.5em;
  border: 1px solid black;
}

.hero {
  background-image: linear-gradient(rgb(169, 186, 247) 0%, rgb(6, 6, 195) 100%);
  border-radius: 0.5em;
  padding-top: 2%;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

#inline_container {
  max-height: auto;
  width: 100%;
  overflow-y: hidden;
}

#addpost {
  text-align: center;
  border-bottom: 1px solid black;
  font-size: 200%;
  color: whitesmoke;
}

#dash-head {
  text-align: center;
  border-bottom: 1px solid black;
  font-size: 200%;
  color: whitesmoke;
}

h1 {
  text-align: center;
  text-decoration: none;
  border-bottom: 1.5px solid black;
  padding-bottom: 2%;
}

#title a {
  text-decoration: none;
}

#title a:hover {
  color: rgb(217, 15, 25);
  font-size: 90%;
  transition: all 0.3s ease-in-out;
}

#sum {
  text-decoration: none;
  padding-bottom: 3%;
}

#sum:hover {
  color: rgb(217, 15, 25);
  font-size: 90%;
  transition: all 0.3s ease-in-out;
}

#h2 {
  text-align: center;
  color: black;
  font-size: 100%;
}

#h6 {
  text-align: center;
  font-weight: bold;
  color: black;
  padding-bottom: 5%;
}

#post-image {
  border: solid 1.5px black;
  border-radius: 0.5em;
  box-shadow: 0 10px 5px 0 rgb(52, 52, 54), 0 10px 10px 0 rgb(45, 45, 46);
}

.custom__image-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
}

.custom__form input {
  text-align: left;
}

.custom__image-container label {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 150%;
  cursor: pointer;
  width: 100px;
  height: 100px;
  border: solid 1px black;
  border-radius: 5px;
  object-fit: cover;
}

.custom__image-container img {
  width: 100px;
  height: 100px;
  border: solid 1px black;
  border-radius: 5px;
  object-fit: cover;
  justify-content: center;
}

body,
html {
  min-height: 100vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #edd2a4;
}

header {
  text-align: center;
  font-size: 40px;
  color: #5a5a5a;
}

#homelogo {
  border-radius: 1em;
  border: 2px solid black;
  width: 65%;
  box-shadow: 0 8px 5px 0 rgb(2, 2, 130), 0 5px 3px 0 rgb(1, 1, 82);
}

#logo1 {
  width: 50%;
  border: solid 1.5px black;
  border-radius: 0.5em;
  box-shadow: 0 3px 5px 0 rgb(52, 52, 54), 0 5px 5px 0 rgb(45, 45, 46);
  margin-left: 10%;
  margin-bottom: 3%;
  margin-top: 3%;
}

#logo2 {
  width: 30%;
  border: solid 1.5px black;
  border-radius: 0.5em;
  box-shadow: 0 10px 5px 0 rgb(52, 52, 54), 0 10px 10px 0 rgb(45, 45, 46);
}

#navirow {
  box-shadow: 0 8px 5px 0 rgb(2, 2, 130), 0 5px 3px 0 rgb(1, 1, 82);
  border-bottom: solid 1.5px black;
  background-color: whitesmoke;
  border-radius: 0.5em;
  border: 1px solid black;
  margin-bottom: 2.5%;
}

#navbarMenu {
  margin-bottom: 2.5%;
  width: 100%;
}

#navbarMenu a {
  border-radius: 0.5em;
  border: solid 1px black;
  background-image: linear-gradient(
    rgb(235, 237, 244) 0%,
    rgb(65, 65, 69) 100%
  );
  font-weight: bold;
  color: black;
  margin: 2.5%;
  margin-top: 10%;
  font-size: 110%;
}

#navbarMenu a:hover {
  background-image: linear-gradient(rgb(126, 153, 251) 0%, rgb(6, 6, 129) 100%);
  font-size: 90%;
  transition: all 0.3s ease-in-out;
  color: whitesmoke;
}

#login-btn:hover {
  font-size: 85%;
  background-image: linear-gradient(rgb(126, 153, 251) 0%, rgb(6, 6, 129) 100%);
  transition: all 0.3s ease-in-out;
}

#signup-btn:hover {
  font-size: 85%;
  background-image: linear-gradient(rgb(126, 153, 251) 0%, rgb(6, 6, 129) 100%);
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.signup-button:hover {
  font-size: 85%;
  background-image: linear-gradient(rgb(126, 153, 251) 0%, rgb(6, 6, 129) 100%);
  transition: all 0.3s ease-in-out;
}

#table-dash {
  width: 100%;
}

#dash-box {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#dash-table {
  text-align: center;
  font-size: 115%;
  font-weight: bold;
  border-bottom: 1px dashed black;
}

#table-head {
  text-align: center;
  border-bottom: 1px solid black;
  font-size: 115%;
  font-weight: bold;
}

#table-row {
  text-align: center;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  border-bottom: 1px dashed black;
  border-right: 1px dashed black;
  border-left: 1px dashed black;
}

td {
  border-left: 1px dashed black;
}

#delete:hover {
  background-color: rgb(177, 178, 189);
}

#editt:hover {
  background-color: rgb(177, 178, 189);
}

.table-id {
  width: 10%;
}

.table-title {
  width: auto;
}

.table-created {
  width: 25%;
}

.table-author {
  width: 15%;
}

.table-edit {
  width: 10%;
}

.table-delete {
  width: 12%;
}

#edit-submit {
  font-weight: bold;
  border: 1px solid black;
}

#edit-submit:hover {
  font-size: 85%;
  background-image: linear-gradient(rgb(126, 153, 251) 0%, rgb(6, 6, 129) 100%);
  transition: all 0.3s ease-in-out;
}

#submit-post {
  font-weight: bold;
  border: 1px solid black;
}

#submit-post:hover {
  font-size: 85%;
  background-image: linear-gradient(rgb(126, 153, 251) 0%, rgb(6, 6, 129) 100%);
  transition: all 0.3s ease-in-out;
}

#comment-submit {
  margin-top: 5%;
  font-weight: bold;
  border: 1px solid black;
}

#comment-submit:hover {
  font-size: 85%;
  background-image: linear-gradient(rgb(126, 153, 251) 0%, rgb(6, 6, 129) 100%);
  transition: all 0.3s ease-in-out;
}

#dash-submit {
  font-weight: bold;
  border: 1px solid black;
}

#dash-submit:hover {
  font-size: 85%;
  background-image: linear-gradient(rgb(126, 153, 251) 0%, rgb(6, 6, 129) 100%);
  transition: all 0.3s ease-in-out;
}

#delete-comment {
  font-size: 125%;
  text-decoration: none;
}

#delete-comment:hover {
  cursor: pointer;
  font-size: 150%;
  transition: all 0.3s ease-in-out;
}

#delete-post:hover {
  cursor: pointer;
  font-size: 150%;
  transition: all 0.3s ease-in-out;
}

#edit:hover {
  cursor: pointer;
  font-size: 150%;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}

.footer-container {
}

@media screen and (min-width: 1000px) {
  .footer-container {
    position: absolute;
  }
}

.navitem {
  text-align: center;
  box-shadow: 5px 5px 5px;
  border-radius: 6px;
}

.conternot {
  margin: 5px;
  padding: 5px;
  text-align: center;
}

.btns {
  margin: 5px;
  box-shadow: black 5px 5px 15px;
  font-weight: bold;
}
