* {
  box-sizing: border-box;
}

.container {
  background-color: white;
  border-radius: 0.5em;
  border: 1px solid black;
}

.message-body {
  background-color: white;
}

.hero {
  background-color: #edd2a4;
  border-radius: 0.5em;
  padding-top: 2%;
}

#inline_container {
  max-height: auto;
  width: 100%;
  overflow-y: hidden;
}

#addpost {
  text-align: center;
  border-bottom: 1px solid black;
  font-size: 200%;
}

#dash-head {
  text-align: center;
  border-bottom: 1px solid black;
  font-size: 200%;
  color: whitesmoke;
}

h1 {
  text-align: center;
  text-decoration: none;
  border-bottom: 1.5px solid black;
  padding-bottom: 1%;
  font-weight: bold;
}

#title a {
  text-decoration: none;
}

#h2 {
  text-align: center;
  color: black;
  font-size: 100%;
}

#h6 {
  text-align: center;
  font-weight: bold;
  color: black;
  padding-bottom: 5%;
}

body,
html {
  min-height: 100vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #edd2a4;
}

#navbarMenu a:hover {
  font-size: 90%;
  transition: all 0.3s ease-in-out;
  color: whitesmoke;
}

#login-btn:hover {
  font-size: 85%;
  transition: all 0.3s ease-in-out;
}

#signup-btn:hover {
  font-size: 85%;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.signup-button:hover {
  font-size: 85%;
  transition: all 0.3s ease-in-out;
}

#table-dash {
  width: auto;
}

#dash-box {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

#dash-table {
  text-align: center;
  font-size: 115%;
  font-weight: bold;
  border-bottom: 1px solid black;
}

#table-head {
  text-align: center;
  border-bottom: 1px solid black;
  font-size: 115%;
  font-weight: bold;
}

#table-row {
  text-align: center;
  font-weight: bold;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
}

a {
  padding: 10px 10px 10px 10px;
}

#editt {
  padding: 10px 10px 10px 10px;
}

td {
  border-left: 1px solid black;
}

#delete:hover {
  background-color: #edd2a4;
}

#editt:hover {
  background-color: #edd2a4;
}

#edit-submit {
  font-weight: bold;
  border: 1px solid black;
}

#edit-submit:hover {
  font-size: 85%;
  background-color: #edd2a4;
  transition: all 0.3s ease-in-out;
}

#delete-comment:hover {
  cursor: pointer;
  font-size: 150%;
  transition: all 0.3s ease-in-out;
}

#delete-post:hover {
  cursor: pointer;
  font-size: 150%;
  transition: all 0.3s ease-in-out;
}

#edit:hover {
  cursor: pointer;
  font-size: 150%;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}

.navitem {
  text-align: center;
  box-shadow: 5px 5px 5px;
  border-radius: 6px;
}

.conternot {
  margin: 5px;
  padding: 5px;
  text-align: center;
}

.btns {
  margin: 5px;
  box-shadow: black 5px 5px 15px;
  font-weight: bold;
}


@media screen and (min-width: 1000px) {
  .footer-container {
    position: absolute;
  }
}