.message {
  width: 100%;
  position: relative;
  margin: 20px;
  justify-content: center;
}

.message .success {
  font-size: 20px;
  color: green;
  position: relative;
  display: none;
}

.message .danger {
  font-size: 20px;
  color: red;
  position: relative;
  display: none;
}
